config.yml 
config*.yml
dist
environment
output 
target
.DS_Store
.idea

.release-env

docs/src/.vuepress/dist
docs/src/.vuepress/.cache/
docs/src/.vuepress/.cache/**
docs/src/.vuepress/.temp/
docs/src/.vuepress/.temp/**
docs/node_modules/